:root {
    --heading-font: 'Oswald', sans-serif;
    --body-font: 'Inter', sans-serif;
    --primary-color: rgb(22, 43, 111);
    --main-black: #282828;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;



}




nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 3%;

    transition: top 0.5s ease-in-out;




}


.logo-container {
    background-color: rgb(255, 255, 255);
    font-family: var(--heading-font);
    display: flex;
    align-items: center;
    justify-content: center;



}

.menu-container {

    font-family: var(--body-font);
    padding-right: 5%;

}


.menu-wrapper {
    height: 40px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.menu-wrapper a {
    text-decoration: none;
    padding-left: 10px;
    font-weight: 300;
    font-size: 16px;
    color: #282828;
    cursor: pointer;


}

#closebtnicon,
#menuopenicon {
    display: none;
}

.logo {
    margin-left: 60px;
    color: var(--main-black);
    font-size: 22px;
    font-weight: medium;
    padding: 7px 0;
}


.menu-wrapper a:visited {
    color: var(--main-black);
}

.hero-section-container {
    background-color: var(--primary-color);
    padding-bottom: 20px;

}

.hero-section-parag {
    font-family: var(--body-font);

    padding: 3vw 1.8vw;
}

.hero-section-parag-h {
    width: 50%;


}

.hero-section-parag h1 {
    font-weight: 300;
    font-size: 64px;

}

.hero-section-parag-p {
    font-weight: 200;
    padding-left: 70px;
    width: 28.7%;
    line-height: 1.6em;
    font-size: 20px;
}

.hero-section-parag-p button {
    font-family: var(--body-font);
    font-size: 18px;
    font-weight: 300;
    color: var(--main-black);
    width: 142px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease;
}

.hero-section-parag-p button:hover {
    background-color: var(--main-black);
    color: white;
}

.hero-section-parag {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-section {
    height: 100vh;
    width: 85vw;
    margin: 0 auto;
    background-color: rgb(22, 43, 111, 0.6);
    background-image: url(assets/images/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    color: white;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-family: var(--heading-font);
    font-size: 109px;
    font-weight: 500;
    margin-bottom: 0;
}

.hero-content p {
    margin-top: 10px;
    margin-bottom: 1.5em;
    font-weight: 300;
    font-family: var(--body-font);
    font-size: 36px;
}

/* about section */
.about-section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 35vh;
    color: var(--main-black);
    font-family: var(--body-font);
    line-height: 1.875em;
    font-size: 17px;
    max-width: 100vw;
    padding-bottom: 5px;


}

.about-heading {
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1em;
}

.about-content {
    margin-bottom: 1.5em;
    font-weight: 300;
    max-width: 800px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.about-content p {
    line-height: 1.6em;
    font-size: 20px;
    width: 100%;

}

.about-section>.item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    padding: 4% 10%;

    border: 1px solid black;


}

.about-section-img-container {}

.about-section-img-container img {
    width: 350px;
    height: 568px;
    object-fit: cover;
    object-position: 50% 50%;
}

/* sale outsource section */

.sales-outsource-section {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 6%;
    font-family: var(--body-font);
}

.sales-outsource-top {
    display: flex;
    justify-content: space-around;
    padding-left: 30px;

}

.sales-outsource-top h1 {
    font-size: 44px;
    font-weight: 500;
    font-family: var(--heading-font);
}

.sales-outsource-top p {
    line-height: 1.6em;
    font-size: 20px;
    width: 40%;
    font-weight: 200;
}

.sales-outsource-bottom {
    display: flex;
    font-family: var(--body-font);
    padding: 2% 0;

}

.sales-outsource-bottom>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sales-outsource-bottom h1 {
    font-size: 26px;
    font-weight: 300;
}

.sales-outsource-bottom p {
    font-size: 19px;
    width: 92%;
    line-height: 1.6em;
    font-weight: 200;
    text-align: center;

}

/* homepage sales training */

.homepage-sales-training {
    background-color: white;
    padding: 3% 6%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.homepage-sales-training h1 {

    color: #3B424C;
    margin-bottom: 0;
    letter-spacing: 0.05em;
    font-family: var(--body-font);
    font-size: 26px;
    font-weight: 400;
}

.homepage-sales-training p {
    color: var(--main-black);
    font-size: 19px;
    line-height: 1.6em;
    text-align: center;
    font-weight: 300;
    font-family: var(--body-font);
}

.homepage-sales-training button {
    font-family: var(--body-font);
    font-size: 18px;
    font-weight: 300;
    background-color: var(--main-black);
    width: 142px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease;
    color: white;
}

.homepage-sales-training button:hover {

    color: var(--main-black);
    background-color: white;
}


/* bottom contact section */
.contact-form {
    display: flex;
    align-items: center;
    border-top: 1px solid black;
}

.contact-information {
    font-family: var(--body-font);
    font-weight: 300;
    font-size: 20px;

}

.contact-information a {
    text-decoration: none;
    font-weight: 900;
    color: #282828;
    font-size: 1.6rem;
    margin-top: 30px;
    display: inline-block;
}

.bottom-contact {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.bottom-contact-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 60px 0;
    color: white;
    font-family: var(--body-font);
    font-size: 17px;
    line-height: 1.8em;
    width: 50%;
    margin-left: 100px;
}

.bottom-contact-information h2 {
    font-family: var(--heading-font);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.bottom-contact-information a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 300;
    font-family: var(--body-font);
    padding: 5px 0;
}

.bottom-contact-information p {
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 300;
    font-family: var(--body-font);
    padding: 5px 0;
    margin: 0;
}

.bottom-contact-information span {
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 300;
    font-family: var(--body-font);
    padding: 5px 0;
    margin: 0;
}

.bottom-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    padding: 60px 0;
    color: var(--main-black);
    font-family: var(--body-font);
    font-size: 17px;
    line-height: 1.8em;
    width: 50%;
    margin-left: 100px;
}

.bottom-contact-form h1 {
    align-self: self-start;
    font-family: var(--body-font);
    font-weight: 300;
}

.bottom-contact-form label {
    font-size: 15px;
}

.form-top-section,
.form-middle-section,
.form-bottom-section {
    display: flex;
    gap: 20px;
}


.nameinput,
.emailinput,
.phoneinput,
.adressinput,
.textareainput,
.form-subject-section {
    display: flex;
    flex-direction: column;

}

.bottom-contact-form button {
    font-family: var(--body-font);
    font-size: 18px;
    font-weight: 300;
    background-color: black;
    width: 142px;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease;
    color: white;
    border: 2px solid black;


}

.bottom-contact-form button:hover {
    color: var(--main-black);
    background-color: white;
    border: 2px solid black;
}

.emailinput {
    width: 100%;
}

.emailinput input {
    width: 100%;
}

.textareainput {
    width: 100%;
}

.textareainput textarea {
    height: 116px;
    /* width: 460px; */
    width: 100%;
    resize: none;
    border: none;
    background-color: inherit;
    color: var(--main-black);
    border-bottom: 1px solid var(--main-black);
    font-size: 18px;
}

textarea:hover,
textarea:focus,
textarea:active {
    outline: none;
    border-bottom: 2px solid var(--main-black);
}

textarea::placeholder,
input::placeholder {
    color: white;
    font-family: var(--body-font);
    font-weight: 300;

}

input {
    border: none;
    background-color: inherit;
    color: var(--main-black);
    border-bottom: 1px solid var(--main-black);
    width: 225px;
    height: 50px;
    font-size: 18px;
}

input:hover,
input:focus,
input:active {
    outline: none;
    border-bottom: 2px solid var(--main-black);
}

.form-subject-section input {
    width: 460px;
}

/* footer section */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 30px 0;
    color: var(--primary-color);
    width: 100%;
    gap: 20px;
    position: relative;

}

.footer-container h2 {
    font-family: var(--heading-font);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
}

.footer-container a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 300;
    font-family: var(--body-font);
    margin-top: 0;
    margin-bottom: 30px;
}

.footer-container p {
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 300;
    font-family: var(--body-font);
    padding: 5px 0;
    margin: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);


}

/* industries page */

.industries-top {


    height: 100vh;
    padding: 2% 6%;
}

.industries-top>.industries-hero {
    position: relative;

    width: 55vw;
    height: 55vh;

    background-image: url(./assets/images/city.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    object-fit: cover;
    background-position: 80% 150%;


}

.industries-hero-text {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;

    width: 55vw;
    height: 54vh;
    position: absolute;
    top: 25%;
    right: -55%;
    padding-top: 5%;
    padding-left: 10%;

}

.industries-hero-text h1 {
    font-family: var(--heading-font);
    font-size: 56px;
    margin-bottom: 0;
}

.industries-hero-text p {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 300;
    padding: 0 25% 5% 0;
}

/* industries card */

.industries-card-container {
    background-color: var(--primary-color);
}

.industries-card-wrapper {
    padding-top: 2%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.industries-card {
    width: 415px;
    height: 720px;
    background-color: white;
    display: flex;
    flex-direction: column;



}

.card-hr {

    border: none;
    border-bottom: 1px solid black;
    margin-right: 23px;
    margin-bottom: 20px;
}

.industries-card-heading {
    padding-left: 23px;
}

.industries-card-heading h1 {
    font-family: var(--heading-font);
    font-size: 20px;
}

.industries-card-img-container {
    width: 370px;
    height: 387px;
    align-self: center;
}

.industries-card-img-container img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.industries-text-container {
    font-family: var(--body-font);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8em;
    padding-left: 23px;
    padding-right: 10px;

}

/* contact page */


.contact-page-hero {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 7%;
    margin-bottom: 17px;

}

.contact-page-hero h1 {
    font-family: var(--heading-font);
    font-size: 80px;
    padding-right: 180px;
}

.contact-page-hero p {
    font-family: var(--body-font);
    line-height: 1.6em;
    font-size: 20px;
    font-weight: 300;
    width: 350px;
}

/* sales training page */

.sales-training-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/images/2.jpeg);
    background-repeat: no-repeat;
    background-position: 50%;
    height: 70%;
    position: relative;
    margin-bottom: 20%;
}

.sales-training-hero-text {
    background-color: white;
    color: var(--main-black);
    position: absolute;
    bottom: -100px;
    margin-bottom: 20px;
    width: 72%;
    height: 50vh;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15% 8%;

}

.sales-training-hero-text h1 {
    font-family: var(--heading-font);
    font-size: 56px;
}

.sales-training-hero-text p {
    font-size: 19px;
    line-height: 1.8em;
    font-family: var(--body-font);
    font-weight: 300;
}

/* sales training card */
.sales-training-card-container {
    background-color: var(--primary-color);

}

.sales-training-card-wrapper {
    padding: 5% 0;
}

.sales-training-card {
    display: flex;
    color: white;
    padding: 5% 15%;

    gap: 50px;

    justify-content: center;
    align-items: start;



}

.sales-training-card-opposite {
    flex-direction: row-reverse;
}

.sales-card-outline {

    margin: 0 15%;
    border: none;
    border-bottom: 1px solid white;

}

.sales-training-card-text {
    /* padding-right:12%; */
    width: 45%;
}

.sales-training-card-text h1 {
    font-family: var(--heading-font);
    font-size: 30px;
    margin-top: 0;
}

.sales-training-card-text p {
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 300;
}

.sales-training-card-img-container {
    width: 378px;
    height: 283px;
    /* width: 380px;
    height: 320px; */
    /* padding-left: 40px; */

}

.sales-training-card-img-container img {
    min-width: 100%;
    max-height: 280px;
    object-fit: cover;
    object-position: 100%;


}

/* media queries */


@media (max-width:1120px) {

    .client-item2 {
        background-color: rgb(248, 247, 249);
        padding: 60px 0;
        position: relative;
        width: 100%;
        height: 100vh;
        padding-bottom: 570px;



    }

    .client-item2 .item1 {
        margin-left: 30px;
        width: 600px;
        height: 362px;

    }

    .client-item2 .item2 {
        position: absolute;
        background-color: white;
        width: 720px;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 09.5%;
        left: 15%;


    }


    .client-item2 .item2 .client-content {
        font-size: 17px;
        line-height: 1.8em;
        width: 540px;


    }

    .bottom-contact {
        flex-direction: column;
    }

    .bottom-contact-information {
        margin-left: 0;


    }



}

@media (max-width:950px) {

    .hero-section-parag-p{
        width: 40%;
    }
    .contact-form {
        flex-direction: column;
        padding-bottom: 40px;
        gap: 40px;
        align-items: flex-start;
        padding-left: 15vw;
        padding-top: 40px;

    }


    .contact-information {
        padding: 0 7vh;
    }

    .industries-hero-text {
        height: 100%;
    }
    .sales-outsource-top {
        display: flex;
        justify-content: space-around;
        padding-left: 0px;
    
    }

    .sales-training-card {
        padding: 5% 2%;
    }
}

@media (max-width:860px) {


    .hero-section-parag {
        flex-direction: column;
    }

    .hero-section-parag-h {
        width: 100%;
        padding: 20px 20px 0 20px;

        text-align: center;
    }

    .hero-section-parag-p {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero-section-parag-p button {
        align-self: center;
    }

    .about-section>.item {
        border: none;
    }

    .contact-form {
        flex-direction: column;
        padding-bottom: 40px;
        gap: 40px;
        align-items: flex-start;
        padding-left: 20vw;
        padding-top: 40px;

    }

    .contact-information {
        padding: 0 5vh;
    }

    .bottom-contact-form {


        margin-left: 2px;
        padding: 0 2vh;




    }


    .bottom-contact-information {
        width: 250px;
    }

    .bottom-contact-information span,
    .bottom-contact-information a {
        display: block;
        text-align: center;
    }

    /* industries page */
    .industries-top {
        padding: 2% 5%;
        height: 50vh;
        margin-bottom: 20vh;
    }

    .industries-top>.industries-hero {
        height: 45vh;
    }

    .industries-hero-text {
        height: 100%;
    }

    .industries-hero-text h1 {
        font-size: 40px;
    }

    .industries-card-wrapper {
        gap: 20px;
        justify-content: flex-start;
    }

    .industries-card {
        width: 100%;
    }

    .contact-information {
        padding: 0 0vh;

    }

    /* sales training page */

    .sales-training-hero-text {
        bottom: -80px;
    }

    .sales-training-card {
        padding: 5% 2%;
    }

    .sales-training-card-text h1 {

        margin: 0;
    }

}

@media (max-width:720px) {
    .client-item2 .item1 {
        margin-left: 10px;
        width: 100%;

    }

    .client-item2 .item2 {

        width: 100%;

        top: 18%;
        left: 0%;
        padding: 0 10px;

    }

    .client-item2 .item2 .client-heading h2 {
        font-size: 30px;
        text-align: center;
        margin: 0;
    }

    .bottom-contact-information {
        margin-left: 0;
    }


}


@media (max-width:576px) {
    .logo {
        text-align: center;
        padding: 0;
        margin: 20px 0;
    }


    .hero-section-parag {
        flex-direction: column;


    }

    .hero-section-parag-h {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }

    .hero-section-parag-h h1 {

        text-align: center;
        font-size: 40px;

    }

    .hero-section-parag-p {
        width: 100%;
        padding: 0;
        text-align: center;
        padding-bottom: 20px;

    }

    .about-content {
        width: 100%;
    }

    .about-section>.item {
        display: flex;
        flex-direction: column;
        padding: 2% 5%;
    }

    .about-content p {
        width: 100%;
    }

    .about-section-img-container img {
        display: none;
    }

    .menu-wrapper {
        /* justify-content: center;
        align-items: center;
        padding: 10px 0;
        margin: 0; */
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        justify-content: center;

        gap: 20px;
        margin: 0;
        display: none;
        z-index: 1000;


    }

    .menu-wrapper.show {
        display: flex;
    }

    #menuopenicon {
        display: inline-block;
        font-size: 30px;
        position: absolute;
        right: 15px;
        top: 28px;

    }

    #closebtnicon {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .menu-wrapper a {
        font-size: 1.3rem;

    }

    .menu-wrapper a:hover {
        color: var(--primary-color);
    }

    .hero-section h1 {
        font-size: 60px;
    }

    .hero-content p {
        font-size: 20px;
    }

    .about-section {
        padding: 0 10vh;

    }

    .about-heading {
        font-size: 25px;
    }

    .client-section {
        height: 100%;
    }

    .client-item1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;

        padding-bottom: 0;
        padding: 0 5vh;
    }

    .client-item1 .client-heading {
        font-size: 25px;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        width: 100%;
        padding: 0;

    }


    .client-item1 .client-content {
        width: 100%;
        text-align: center;
        margin-top: 0;
        padding: 0 10px;

    }

    .client-item2 {
        position: static;
        height: 100%;
        max-width: 100%;
        padding: 0 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        background-color: white;
        margin: 50px 0;
    }

    .client-item2 .item1 {
        display: none;
    }

    .client-item2 .item2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        width: 100%;
    }

    .client-item2 .item2 .client-heading h2 {
        font-size: 30px;
        text-align: center;
        margin: 0;
    }

    .client-item2 .item2 .client-content {
        width: 100%;
        text-align: center;
        margin-top: 0;
        padding: 0 10px;
    }





    .sales-outsource-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        margin: 0;
    }

    .sales-outsource-top h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 0;
    }

    .sales-outsource-top p {
        width: 100%;
        text-align: left;
        padding: 0;
    }

    .sales-outsource-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
    }

    .sales-outsource-bottom p {
        text-align: left;
        width: 100%;
    }

    .bottom-contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottom-contact-information {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0 5vh;
        text-align: center;
    }

    .bottom-contact-form {

        width: 100%;
        margin-left: 2px;
        padding: 0 3.2vh;





    }

    .form-top-section,
    .form-middle-section,
    .form-bottom-section,
    .form-subject-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .bottom-contact-form button {
        width: 300px;
        margin-bottom: 20px;
    }

    .textareainput textarea {
        width: 300px;
        align-self: center;
    }

    .form-subject-section input,
    .bottom-contact-form input {
        width: 300px;
    }

    .bottom-contact-form label {
        width: 300px;
    }

    .contact-form {
        flex-direction: column;

        gap: 40px;
        padding-bottom: 40px;
        padding-left: 0;


    }

    .contact-information {
        padding: 0 5vh;
    }

    /* industries page */
    .industries-card-wrapper {
        gap: 20px;

    }

    .industries-card {
        height: 100%;
    }

    .industries-top>.industries-hero {
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;

    }

    .industries-top {
        padding: 0;
        margin: 0;
        width: 100vw;
        margin-bottom: 0;
        
    }

    .industries-hero-text {
  
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        padding-top: 0;
        


    }

    .industries-hero-text h1 {
        font-size: 45px;
        margin-top: 0;
    

    }
    .industries-hero-text p {
        font-size: 20px;
        padding-bottom: 0;
        margin-bottom: 0;
        padding: 0;
      
    }

    /* sales training page */

    .sales-training-hero-text {

        padding: 0% 2%;
        margin-bottom: 0;
        width: 100%;
        position: static;

    }

    .sales-training-hero-text h1 {
        font-size: 40px;
        margin-bottom: 0;
    }

    .sales-training-card {
        flex-direction: column;
        gap: 20px;
        padding: 5% 5%;
        align-items: center;
        text-align: center;
    }

    .sales-training-card-text {
        width: 100%;
    }


    /* contact page */
    .contact-page-hero {
        flex-direction: column;
    }

    .contact-page-hero h1 {
        font-size: 50px;
        text-align: center;
        padding: 0 5vh;
    }

    .contact-page-hero p {
        width: 100%;
        text-align: center;
        padding: 0;
    }

}

@media (max-width:370px) {
    .sales-training-hero-text h1 {
        font-size: 32px;

    }

    .sales-training-hero-text p {
        font-size: 17px;
    }

}